<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="contract.Properties.Settings.contract1ConnectionString"
            connectionString="Data Source=192.168.7.70;Initial Catalog=contract1;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="contract.Properties.Settings.contract1ConnectionString1"
            connectionString="Data Source=.;Initial Catalog=contract1;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>